<div class="container-fluid" style="color: #332C1F;">

    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">{{title}}</h3><a class="btn btn-primary disabled btn-sm d-none d-sm-inline-block" role="button" style="background: rgba(78,115,223,0);color: #332c1f;border-color: rgba(51,44,31,0);">&nbsp;<br>&nbsp;<i class="far fa-clock" style="margin-right: 5px;"></i>{{cur_date}}<br><br></a>
    </div>

    <div class="row">
        {{!-- <div class="col-lg-12 col-xl-12 col-xxl-12"> --}}
        <div class="col-lg-12 col-lg-12 col-xxl-12">

            {{!-- CARD --}}
            <div class="card shadow mb-4"  style="max-width: 1150px; margin: 0px auto;">

                      {{!-- START CARD HEADER --}}
                <div class="card-header d-flex justify-content-between align-items-center" style="background: #939C1F;color: #ffffff;">
                    
                    <div class="col" style="max-width: 70px; padding-top: 2px">

                        <button type="submit" class="btn btn-primary btn-md" id="back" onclick='history.back()'> <!-- Replace later to window.location -->
                            <i class="far fa-long-arrow-left d-lg-flex justify-content-lg-center" id="backIcon"></i>
                        </button>        

                    </div>

                    <div class="col" style="margin-right: 650px; padding-top: 15px">
                        <h6>Add New Employee Record</h6>
            
                    </div>

                </div>
                {{!-- END CARD HEADER --}}

                {{!-- START CARD BODY --}}
                <div class="card-body">

                    {{!-- START FORM --}}
                    <form id="register_employee" action="/register_employee" method="post">

                    <div class="tab">
                    <div class="modal_body_content" id="body_step1">
                            <h5 for="" style="font-weight: bold; padding-bottom: 20px; padding-top: 10px">Employee Information</h5>

                            {{> messages}}

                            <div class="form-group" style="margin-left: 5px;">
                              <div class="row">

                                <div class="col" style="padding-top: 5px;">
                                <label for="last_name">Last Name </label>
                                <input type="text" class="form-control" id="last_name" placeholder="Last Name" name="last_name" required></input>

                                </div>

                                <div class="col" style="padding-top: 5px;">
                                <label for="first_name">First Name </label>
                                <input type="text" class="form-control" id="first_name" placeholder="First Name" name="first_name" required></input>

                                </div>

                                </div>
                            </div>

                            <div class="form-group" style="margin-left: 5px;">
                              <div class="row">

                                <div class="col" style="padding-top: 5px;">
                                <label for="mobile_number">Mobile Number </label>
                                <input type="text" class="form-control" id="phone_number" placeholder="e.g., 09123456789" pattern="[0]{1}[9]{1}[0-9]{9}" class="form-control" maxlength="11" required name="phone_number" required></input>

                                </div>

                                <div class="col" style="padding-top: 5px;">
                                <label for="position">Position </label>
                                <select class="form-select" id="position" name="position" required>
                                    <option value="">...</option>
                                    <option value="Office Worker">Office Worker</option>
                                    <option value="Farm Manager">Farm Manager</option>
                                    <option value="Farmer">Farmer</option>
                                </select>

                                </div>

                                </div>
                            </div>

                            <div class="" id="farm_assignment_cont" style="display: none;">
                                <div class="form-group" style="margin-left: 5px;">
                                    <div class="row">

                                        <div class="col" style="padding-top: 5px;">
                                            <label for="last_name">Farm Assignment</label>
                                            <select class="form-select" id="farm_assignment" name="farm_assignment">
                                                <option>...</option>
                                            </select>
                                        </div>

                                        <div class="col">
                                            
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <!-- <div class="hide">
                                <h5 for="" style="font-weight: bold; padding-bottom: 20px; padding-top: 10px">Login Information</h5>

                                {{> messages}}

                                <div class="form-group" style="margin-left: 5px;">
                                  <div class="row">

                                    <div class="col" style="padding-top: 5px;">
                                    <label for="username">Username <span style="color: #CA4E0C;">*</span></label>
                                    <input type="text" class="form-control" id="username" placeholder="{{username}}" name="username" value="{{username}}" readonly></input>

                                    </div>

                                    <div class="col" style="padding-top: 5px;">
                                    <label for="access_level">Access Level <span style="color: #CA4E0C;">*</span></label>
                                    <select class="form-select" name="access_level" id="access_level" required>
                                        <option value="0" {{#compareTwoValues this.access_level 0 operator='==='}}selected{{/compareTwoValues}}>Administrator</option>
                                        <option value="1" {{#compareTwoValues this.access_level 1 operator='==='}}selected{{/compareTwoValues}}>Office Worker</option>
                                        <option value="2" {{#compareTwoValues this.access_level 2 operator='==='}}selected{{/compareTwoValues}}>Purchase Officer</option>
                                    </select>

                                    </div>

                                    </div>
                                </div>

                                <div class="form-group" style="margin-left: 5px;">
                                  <div class="row">

                                    <div class="col" style="padding-top: 5px;">
                                    <label for="password">Password <span style="color: #CA4E0C;">*</span></label>
                                    <input type="password" class="form-control" id="password" placeholder="Password" name="password" required></input>

                                    </div>

                                    <div class="col" style="padding-top: 5px;">
                                    <label for="password1">Confirm Password <span style="color: #CA4E0C;">*</span></label>
                                     <input type="password" class="form-control" id="password1" placeholder="Confirm Password" name="password1" required></input>
                                      <input type="hidden" name="user_id" id="user_id" value="{{user_id}}">

                                    </div>

                                    </div>
                                </div>
                            </div> -->
                                
               
                        </div>
                     </div>

                    </form>
                    {{!-- END FORM --}}

                    <div style="text-align:center;margin-top:40px;padding-bottom:10px">
                      
                    </div>

                    <div class="modal-footer">
                        <div class="modal_footer_content" id="_step1">
                            <button type="button" class="btn round btn-secondary" onclick="goBack();">Cancel</button>
                            <button type="submit" class="btn round btn-primary" form="register_employee">Create</button>
                        </div>
                            
                      </div>

                </div>
                {{!-- END CARD BODY --}}
                
            </div>
        </div>
    </div>
</div>

<script>
    var view = "detailed_user";
    function goBack() {
      window.history.back();
    }

    // MULTI-STEP FROM INDICATORS

    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    function showTab(n) {
      // This function will display the specified tab of the form...
      var x = document.getElementsByClassName("tab");
      x[n].style.display = "block";

      //... and run a function that will display the correct step indicator:
      fixStepIndicator(n);
    }

    function nextPrev(n) {
      // This function will figure out which tab to display
      var x = document.getElementsByClassName("tab");

      
      // Exit the function if any field in the current tab is invalid:
      if (!dataValidation(currentTab+2)) return false;
      // Hide the current tab:
     // x[currentTab].style.display = "none";

    document.getElementsByClassName("step")[currentTab].className += " finish";

      // Increase or decrease the current tab by 1:
      currentTab = currentTab + n;

      // if you have reached the end of the form...
      if (currentTab >= x.length) {
        // ... the form gets submitted:
        document.getElementById("create_farm_form").submit();
        return false;
      }
      // Otherwise, display the correct tab:
      showTab(currentTab);

    }

    function fixStepIndicator(n) {
      // This function removes the "active" class of all steps...
      var i, x = document.getElementsByClassName("step");
      for (i = 0; i < x.length; i++) {
        x[i].className = x[i].className.replace(" active", "");
      }
      //... and adds the "active" class on the current step:
      x[n].className += " active";

    }

</script>

<script type="text/javascript">
    var position; 
    var farm_list;
    var str = ``;
    $('#position').on('change', function() {
        position = $(this).val();
        str = `<option>...</option>`;
        $('#farm_assignment_cont').addClass('hide');
         $('#farm_assignment_cont').hide();
        if (position == 'Farmer' || position == 'Farm Manager') {
            $('#farm_assignment_cont').removeClass('hide');
             $('#farm_assignment_cont').toggle();

            if (position == 'Farmer') {
                $.get('/get_farm_list', {}, function(result) {
                    farm_list = result;
                });
            }
            else {
                $.get('/getFarmWithoutManager', {}, function(result) {
                    farm_list = result;
                });
            }
            farm_list.forEach(function(item) {
                str += `<option value="${item.farm_id}">${item.farm_name}</option>`;
            });
            $('#farm_assignment').empty();
            $('#farm_assignment').append(str);
        }
        else if (position == 'Office Worker') {

        }     
    });
</script>
